body {

background-color: #eee;

font-family:'Roboto', sans-serif;
}

#cabecalho
{
    
    border: 1px solid #000;
    /*borda arredondada*/
    border-radius: 5px;
    padding: 10px;
    
    
}

.logo {
    
    display: inline-block;
}

.menu {
   display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
}

.menu-link{
    display: inline-block;
    margin-right: 5px;
}

.form-pesquisa{ 
    display: inline-block;
    margin-top: 15px;
    
}


h1{
   /* propriedade: titulo principal;*/
    color:red;
}

li{ 
    list-style: none;

    /*deixar um ao lado do outro */
    display:inline-block;
}

.centralizar{
    margin-right: auto;
    margin-left: auto;
    width: 900px;
}

.img-principal {
 float: left;   
}

.img-list {
 clear: left;   
}

#rodape {
border-top: 1px solid #222;
}

#rodape p {
    font-size: 12px;
    text-align: center;
}


